body{
    display: flex;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 21px;
}
h1, h2, h3{
    margin: 0;
    padding: 0;
}
.nav{
    position: absolute;
    height: 50px;
    margin: 50px;
    width: calc(100% - 100px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav span{
    font-size: 33px;
    position: absolute;
    left: 50%;
    margin-left: -22px;
    font-weight: bold;
}
.nav-items{
    display: flex;
    align-items: center;
    height: 50px;
}
.nav-items a{
    margin-left: 25px;
}
.nav-items a:first-child{
    margin-left: 0;
}
.nav-profile{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.scroll{
    border: 1px solid white;
    position: relative;
    width: 0;
    height: 300px;
}
.left-scroll{
    margin-left: 7.5px;
}
.right-scroll{
    margin-right: 7.5px;
}
.scroll form{
    position: absolute;
    width: 15px;
    left: -7.5px;
    top: -3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scroll form span{
    background-color: #fff;
    border-radius: 50%;
    height: 6px;
    width: 6px;
    display: block;
}
.scroll span input{
    cursor: pointer;
    margin-left: -7.5px;
    margin-top: -3px;
    opacity: 0;
    width: 24px;
    height: 24px;
}
.scroll form span:not(:last-child){
    margin-bottom: 67px;
    padding: 0;
}
.scroll form span.checked{
    height: 16px;
    width: 16px;
    box-shadow: 0 3px 6px #00000029;
}
.green .scroll{
    margin-left: auto;
}
.half{
    width: 50%;
    height: calc(100vh - 100px);
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.3s cubic-bezier(1, 0.66, 0.33, 0);
    overflow: hidden;
}
.yellow{
    background-color: #FFB400;
}
.green{
    background-color: #116D00;
}
.yellow .yellow-right{
    margin-left: auto;
}
/*.main-text{*/
/*    margin-left: 12%;*/
/*    margin-top: 18.5%;*/
/*}*/
.main-text{
    width: 100%;
    margin-top: auto;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s;
}
.yellow .main-text{
    margin-left: 57px;
}
.green .main-text{
    margin-left: 20px;
}
.titles h1{
    font-size: 90px;
    line-height: 90px;
    text-transform: uppercase;
}
.titles h2{
    font-size: 40px;
    line-height: 53px;
}
.titles h3{
    font-size: 20px;
    line-height: 26px;
}
.main-pic{
    width: calc(49vw - 220px);
    position: absolute;
    top: 360px;
    transition-delay: 0.5s;
    transition: all 0.3s cubic-bezier(1, 0.66, 0.33, 0);
}
.main-pic img{
    width: 100%;
    display: block;
}
.yellow .main-pic{
    left: 146px;
}
.green .main-pic{
    right: 130px;
}
.main-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 176px;
}
.kkal li:not(:last-child){
    border-bottom: 1px solid #FFFFFF;
}
.kkal li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.store{
    margin-left: 53px;
    height: 94px;
    width: 108px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pics, .store-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.store-text{
    width: 78px;
}
.add-info img{
    transform: rotate(-90deg);
}
.row{
    width: 100%;
}
.row-size{
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.row-size select{
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    width: 84px;
    height: 26px;
    padding-left: 10px;
    font-size: 16px;
    background: url('../img/icons/Component 11 – 2.svg') no-repeat right #FFB400;
    -webkit-appearance: none;

}
.row-size img{
    margin-left: 0;
    margin-top: 0;
}
.row-size .equation{
    margin-left: 16px;
    width: 207px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn{
    color: #000000;
    margin-top: 22px;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 0 6px #00000066;
    border-radius: 18px;
    width: 163px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn img{
    margin-left: 10px;
    margin-top: 0;
}
.btn a{
    text-decoration: none;
    color: #000000;
}
/*.green .main-text{*/
/*    margin-left: 7.5%;*/
/*}*/
.green .row-size select{
    background-color: #116D00;
}
.likes{
    color: #FFFFFF;
    width: 278px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition-delay: 0.5s;
    transition: all 0.3s cubic-bezier(1, 0.66, 0.33, 0);
}
.likes ul{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.likes-profiles{
    width: 80px;
}
.likes-profiles img{
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    max-height: 30px;
    display: block;
    margin-left: -10px;
}
.likes .line{
    height: 0;
    width: 139px;
    border: 1px solid #FFFFFF;
}

.hidden-text{
    display: none;
}
.minimized{
    width: 15px;
}
.maximized{
    width: calc(100% - 215px);
}
.disable{
    display: none;
}
.active{
    display: block;
}
.bigger{
    width: calc(90vw - 310px - 220px);
    height: auto;
    top: 170px;
    right: 50px;
}
.yellow .bigger{
    left: 475px;
}
.green .bigger{
    right: 50px;
}
.vmeste{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.vmeste .btn{
    margin-top: 0;
    margin-left: 20px;
}
.row .likes{
    margin-left: 160px;
}